body{
  background-color: black;
  color: white;
}

h1{
  text-transform: uppercase;
}

#box{
  font-family: "Libre Baskerville", serif;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  text-align: center;
}

#poster-image{
  border: 5px solid white;
  width: 100%;
}